/*________checkbox___________________________________________________________________*/
.container-chb {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
   }
  
  /* Hide the browser's default checkbox */
  .container-chb input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-chb:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-chb input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  /*____________________________________________________________________________________*/
  .device-type, .color, .ram{
    padding: 25px 0px 35px 35px;
    
  }
  .device-type h1, .color h1, .ram h1{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .show-sub a{
    font-size: 20px;
   margin-left:  30px; 
   text-decoration: none;
   color: white;
   }
  .btn-sbm button{
      width: 75%;
      margin: 30px;
      cursor: pointer;
      border: 1px solid white;
      background-color: #2196F3;
      font-size: 30px;
      color: white;
  }