* {
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
    background-image: url("images/patt.png");
  }
  .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
  .container-slider {
    background-color: orange;
   height: 300px;
      }
 /*.slider {
    width: 1170px;
    height: 300px;
    background-color: aqua;
    margin: 0 auto;
    }*/
    .maim{
      display: flex;
      flex-direction: column; 
         }
    .container-choice{
      width: 250px;
      height: 880px;
      margin-left: 166px;
      color: white;
      border: 2px solid black;
      float: left;         
    }
    
    .Product{
     display: flex;
     flex-direction: column;

      width: 61%;
      margin-left: 420px;
       border: black 2px solid;
    }
   
  .row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    color: white;
    
  }
  [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
  }
  .logo {
    margin-top: 7px;
  }
  sup{
    vertical-align: super;
  }
.breadcrumbs{
  margin: 20px 20px 20px 0;
color: white;
font-size: 18px;
}
 .begin-here{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
 }




 .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.modal-block {
  width: 250px;
  height: 200px;
  padding: 10px;
  background-color: white;
  border: 1px solid grey;
  margin: 100px auto;
}
.modal-block form {
  position: relative;
  padding-top: 20px;
}
.modal-block h3 {
  margin-bottom: 15px;
}
.form-field {
  margin-bottom: 15px;
}
.form-field input {
  width: 100%;
  height: 30px;
  padding: 5px;
}
.btn-close {
  position: absolute;
  right: 5px;
  top: 0px;
  cursor: pointer;
}

.hide{
  display: none;
}
.show {
  display: block;
}
/*---------slider----------*/
.slider > div {
  padding: 150px;
  text-align: center;
  color: white;
  font-size: 50px;
}




 /*--------------*/
 .slick-dots li button:before {
  background-image: url(images/dots.svg);
  background-size: 20px    20px;
  content: '';
 }
/*--------------------------------*/

 .slick-prev:before, .slick-next:before {
  content: '';
  background-repeat: no-repeat;
 width: 25px;
 height: 25px;
 display: block;
}
.slick-prev:before{
  background-image: url(images/arrow_left.svg); }
  .slick-next:before{
    background-image: url(images/arrow_right.svg); }